/* general style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009988 0%,
    #009988 20%,
    #a8d4e2 20%,
    #a8d4e2 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* layout */
.container{
  width: 80%;
  height: 94%;
  background-color: white;
  display: flex;
}

.list{
  flex-basis: 35%;
}

.message{
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
}

.text{
  flex-grow: 1;
  background-image: url('../img/mine.jpg');
}

/* lista contatti */
img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.img-user{
  display: flex;
  align-items: center;
}

.img-user img{
  margin-right: 0px;
}

.img-user p,
.img-sms .info-sms p:first-child{
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.ico{
  display: flex;
  align-items: center;
}

.ico a{
  padding-right: 15px;
  color: rgba(0,0,0, .3);
}

.list .user{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0, .1);
}

.notifications{
  background-color: #74dcff;
  display: flex;
}

.sound{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.fa-bell-slash{
  color: #74dcff;
}

.list .txt-notifications p{
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #0c0c61;
}

.list .txt-notifications a{
  font-size: 10px;
}

.list .txt-notifications{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ricerca chat */
.search{
  background-color: #f4eeea;
  display: flex;
}

.ico-search{
  background-color: white;
  margin: 5px 0px;
  margin-left: 5px;
  font-size: 13px;
  padding: 7px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ico-search i{
  color: rgba(0,0,0, .3);
  cursor: pointer;
}

.search input{
  width: 91%;
  line-height: 25px;
  font-size: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  margin: 5px 0px;
  margin-right: 5px;
  padding: 0px 20px;
  color: rgba(0,0,0, .6);
}

.list ul li{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0, .1);
  cursor: pointer;
}

.list ul li p{
  font-weight: bold;
  font-size: 15px;
}

.list ul li:last-child{
  border: none;
}

/* main single sms */
.head-sms{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0, .1);
  border-left: 1px solid rgba(0,0,0, .1);
  align-items: center;
}

.img-sms{
  display: flex;
}

.info-sms{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-sms .info-sms p:last-child{
  opacity: .5;
  font-size: 10px;
}

.ico-head a{
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.list,
.text{
  overflow-y: auto;
}

.text{
  padding: 50px;
}

.container-text{
  display: flex;
}

.sx{
  display: flex;
  justify-content: flex-end;
}

.dx{
  display: flex;
  justify-content: flex-start;
}

.sent{
  background-color: lightgreen;
}

.received{
  background-color: white;
}

.sms{
  width: 45%;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

.fa-times{
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: .3;
  display: none;
}

.sms p{
  font-size: 13px;
  padding: 10px;
  padding-bottom: 0px;
}

#data{
  font-size: 10px;
  padding: 3px;
  opacity: .5;
  text-align: right;
}

/* scrittura testo sms */
.footer-sms{
  padding: 10px 20px;
  background-color: #f4eeea;
}

.footer-sms input{
  width: 88%;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0px 15px;
  font-size: 11px;
  margin: 0px 20px;
  opacity: .6;
}

.footer-sms a{
  color: rgba(0, 0, 0, 0.5);
}

/* hover */
i:hover{
  color: green;
}

.list ul li:hover{
  background-color: rgba(0,0,0, .1);
}

.sms:hover{
  background-color: rgba(30,144,255, .4);
}

.sms:hover .fa-times{
  display: table;
}

.fa-times:hover{
  color: black;
  opacity: .8;
}

.active{
  background-color: rgba(0,0,0, .2);
}
