<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

     <!-- clone whats app -->
    <div id="app" class="container">

      <!-- lista contatti -->
      <aside class="list">
          <div class="user">
            <div class="img-user">
              <img :src=" './img/avatar' + user.avatar + '.jpg' " alt="">
              <p>{{ user.name }}</p>
            </div>
            <div class="ico">
              <a href="#"><i class="fas fa-circle-notch"></i></a>
              <a href="#"><i class="fas fa-comment-alt"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="notifications">
            <div class="sound">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="txt-notifications">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>

          <!-- ricerca chat -->
          <div class="search">
            <div class="ico-search">
              <i class="fas fa-search"></i>
            </div>
            <input type="text" name="" placeholder="Cerca o inizia una nuova chat">
          </div>

            <!-- lista contatti -->
          <ul>
            <li v-for="(element,index) in contacts"
                @click="text(index)"
                :class="index == indexContacts ? 'active' : null">
             <img :src=" './img/avatar' + element.avatar + '.jpg' " alt="">
             <p>{{ element.name }}</p>
            </li>
          </ul>

      </aside>

       <!-- messaggi singolo contatto -->
      <main class="message">

        <!-- info sms user -->
        <section class="head-sms">
          <div class="img-sms">
            <img :src=" './img/avatar' + contacts[indexContacts].avatar + '.jpg' " alt="">

            <div class="info-sms">
              <p>{{ contacts[indexContacts].name }}</p>
              <p>Ultimo accesso oggi alle 10.35</p>
            </div>
          </div>

          <div class="ico-head">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </section>

         <!-- conversazione -->
        <section class="text">

            <div class="container-text"
                 v-for="(element,indexMessage) in contacts[indexContacts].messages"
                 :class="element.status == 'received' ? 'dx' : 'sx'">
                <!-- contenuto messaggio -->
                <div class="sms"
                  :class="element.status == 'received' ? 'received' : 'sent'">
                  <p>{{  element.message }}</p>
                  <p id="data">{{ element.date }}</p>
                  <i class="fas fa-times fa-xs"
                     @click="removeSms(indexMessage)"></i>
                </div>
            </div>
        </section>

         <!-- scrittura testo sms -->
        <section class="footer-sms">
          <a href="#"><i class="far fa-smile"></i></a>
          <input type="text" name=""
                 v-model="messageText"
                 @keyup.enter="pushObj"
                 placeholder="Scrivi un messaggio">
          <a href="#"><i class="fas fa-microphone"></i></a>
        </section>

      </main>

    </div>


    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/locale/it.min.js" type="text/javascript"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
